@font-face {
    font-family: 'GTWalsheim-Rg';
    src: url('./fonts/GT-Walsheim-Regular.woff') format('woff'),
        url('./fonts/GT-Walsheim-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTWalsheim-Bd';
    src: url('./fonts/GT-Walsheim-Bold.woff') format('woff'), url('./fonts/GT-Walsheim-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTWalsheim-Md';
    src: url('./fonts/GT-Walsheim-Medium.woff') format('woff'), url('./fonts/GT-Walsheim-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSansSC-Rg';
    src: url('./fonts/notosanssc-regular-webfont.woff') format('woff'),
        url('./fonts/notosanssc-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSansSC-Bd';
    src: url('./fonts/notosanssc-bold-webfont.woff') format('woff'),
        url('./fonts/notosanssc-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTWalsheimLC-Rg';
    src: url('./fonts/GT-Walsheim-LC-Regular.woff') format('woff'),
        url('./fonts/GT-Walsheim-LC-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTWalsheimLC-Bd';
    src: url('./fonts/GT-Walsheim-LC-Bold.woff') format('woff'),
        url('./fonts/GT-Walsheim-LC-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
